body {
  font-size: 140%;
  font-family: monospace;
}
.accessibility-menu{
    float:right;
    line-height:130%;
}

.accessibility-menu .bow{
    display:none;
    color:black!important;
    background-color:white;
    padding:0.2em;
}

.accessibility-menu .wob{
    color:white;
    background-color:black;
    padding:0.2em;
}
#accessibility:target{
    color:white;
    background-color:black;
}
#accessibility:target a{
    color:white;
}
#accessibility:target .wob{
    display:none;
}
#accessibility:target .bow{
    display:inline;
}
section {
  max-width: 50em;
  margin: 2em auto;
  padding: 0 10px;
}

section#license {
  border-top: dashed 1px black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h4 {
  margin-top: 2em;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

li::before {
}

ul.groups > li {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
ul.groups li li {
  font-weight: normal;
}

li ul li::before {
  content : '- ';
}

