body {
  font-size: 140%;
  font-family: monospace;
}
.acessibility-menu{
    float:right;
    line-height:130%;
}

.acessibility-menu .bow{
    display:none;
    color:black!important;
    background-color:white;
    padding:0.2em;
}

.acessibility-menu .wob{
    color:white;
    background-color:black;
    padding:0.2em;
}
#acessibility:target{
    color:white;
    background-color:black;
}
#acessibility:target a{
    color:white;
}
#acessibility:target .wob{
    display:none;
}
#acessibility:target .bow{
    display:inline;
}
section {
  max-width: 50em;
  margin: 2em auto;
  padding: 0 10px;
}

section#license {
  border-top: dashed 1px black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

li::before {
  content : '- ';
}
