body {
  font-size: 100%;
  font-family: monospace;
}

section {
  max-width: 600px;
  margin: 2em auto;
  padding: 0 10px;
}

section#license {
  border-top: dashed 1px black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

li::before {
  content : '- ';
}
